head{
    background-color: white;
}

body{
	position: relative;
	min-height: 100%;
}

body::after{
	content:'';
	display: block;
	height: 250px;
}

.container, #container{
	position:relative;
}

.page-footer {
    position:absolute;
    color: whitesmoke;
	bottom: 0;
    background-color: #607b91;
    width: 100%;
	height: 250px;
	padding: 10px;
	padding-bottom: 0px;
    /* padding-block-start: 20px; */
}
.slider::-webkit-slider-thumb {
    cursor: pointer; /* Cursor on hover */
  }
  .slider::-moz-range-thumb {
    cursor: pointer; /* Cursor on hover */
  }
.page-footer a{
    padding: 11px;
    color: whitesmoke;
}
/*
.page-footer {
  background-color: #222;
  color: #ccc;
  padding: 60px 0 30px;
}*/

html{
	margin:0;
	padding:0;
    height:100%;
    background-color: white;
}
#blist span{
    display: none;
}

iframe {
	width: 100%;
	height: 670px;
}

h1{
    padding: 0px;
    background-color: white;
    text-align: center;
    font-size: 50px;
}

h3 {
    text-align: center;
    font-size: 20px;
    padding: 11px;
}
nav{
    background-color: #f4f4f4;
}
dd {
    text-indent: 2em;
    margin: 0px 0px 3px 0px;
}

dt {
    font-weight: bold;
    padding: 5px;
}
.tabAdmin{
    width:100%;
}
#whiteh4{
    color:white;
}

#eventGrid .collapse.show div{
    width:100%;
	height: 250px;
	padding: 15px;
}
#blueblock{
    color:white;
    background-color:#87CEEB;
    margin-right:30px;
}
.title{
    background-color:#87CEEB;
    color:#000;
    border-radius: 10px;
    padding:10px;
}

.events h4 {
	margin-top: 5px;
	margin-left: 5px;
}

.event-image{
    float:left;
    width:220px;
    height:220px;
	object-fit: cover;
    border:1px solid black;
    margin-right:20px;
}
.text-container{
    float:right;
}
.title:hover{
    background-color:#87CEEB;
}
.blueH{
    color:#87CEEB;
    font-size:38px;
    font-weight:bold;
    text-align:center;
}
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}


.hdivider{
    width: 10px;
    height: 10px;
    display: inline-block;
}
.divider1{
    width:10px;
    height:auto;
    display:inline-block;
}
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.carousel-item img {
	object-fit: cover;
	z-index: 4;
}

.carousel-item video {
	object-fit: cover;
	height: 670px;
	z-index: -2;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, 0%);
}

.carousel-inner {
	height: 670px;
}

#testlist img {
	object-fit: cover;
	margin-left: 10px;
	margin-right: 10px;
}



#testlist .d-block {
	height: 150px;
}

#testlist button {
	position: absolute;
	margin-bottom: 5px;
}

.events{
    height:250px;
    /*width:300px;*/
    color:white;
    background-image:url('../images/events/divineevent.png');
    /*background-repeat: no-repeat; */
    background-size: cover;
    /*padding:0px 0px 5px 5px; */
    border: 5px solid #FFFFFF;
    /*margin-bottom: 20px;*/
}


#collapseButton {
	position: absolute;
	bottom: 8px;
	right: 23px;
}

.collapsing {
    -webkit-transition: none;
    transition: height 1s;
    display: none;
}

h5 {
    font-weight: bold;
}
form label {
    font-weight:bold;
}

