#selectForm select {
    width: 150px;
}
#deleteForm select {
    width: 150px;
}
#editoraboutus{
    height: 400px;
}
div[role=body]{
    height: 300px;
}
/* following are settings to try to make the database look better */
table {border-collapse:collapse; table-layout:fixed; width:100%; margin-left: 0px;}
table td {border:solid 1px #fab; width:100px; word-wrap:break-word;}