head{
    background-color: white;
}
.container, #container{
    padding: 20px;
    padding-bottom:60px;
}
.footer {
    position:absolute;
    color: whitesmoke;
    background-color: #607b91;
    width: 100%;
    padding-block-start: 20px;
}

.footer a{
    padding: 11px;
    color: whitesmoke;
}
html, body{
    height:100%;
    background-color: white;
}

h1{
    padding: 0px;
    background-color: white;
    text-align: center;
    font-size: 50px;
}

h3 {
    text-align: center;
    font-size: 20px;
    padding: 11px;
}

dd {
    text-indent: 2em;
    margin: 0px 0px 3px 0px;
}

dt {
    font-weight: bold;
    padding: 5px;
}
#whiteh4{
    color:white;
}
.cardit{
    width:100%;
}
#blueblock{
    color:white;
    background-color:#87CEEB;
    margin-right:30px;
}
.title{
    background-color:#87CEEB;
    color:#000;
    border-radius: 10px;
}
.event-image{
    float:left;
    width:150px;
    height:150px;
    border:1px solid black;
    margin-right:10px;
}
#event1{
    background-image:url('../images/events/winterbanner.jpg');
}
.text-container{
    float:right;
}
.title:hover{
    background-color:#87CEEB;
}
.blueH{
    color:#87CEEB;
    font-size:38px;
    font-weight:bold;
    text-align:center;
}
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
.events{
    height:100px;
    width:300px;
    color:white;
    background-image:url('../images/events/divineevent.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding:0px 0px 5px 5px;
    border: 1px solid #000;
    margin-bottom: 20px;
}
.collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
}

h5 {
    font-weight: bold;
}

