head{
    background-color: white;
}


body{
    background-color: white;
    
}

h1{
    padding: 0px;
    background-color: white;
    text-align: center;
    font-size: 50px;
}

h3 {
    text-align: center;
    font-size: 20px
}

dd {
    text-indent: 2em;
    margin: 0px 0px 3px 0px;
}

dt {
    font-weight: bold;
    padding: 5px;

}


